*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }

body {
  padding: 2rem;
  font-family: 'Satoshi', sans-serif;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1em;
}

footer {
  text-align: center;
  padding: 1rem;
  color: white;
}